<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/email-verification.css">
    <title>Email Verification Token</title>
</head>
<body>
<div class="container">
    <h2>Welcome to UnravelDocs Service!</h2>
    <p>Hello
        <span class="firstName" th:text="${firstName}">FirstName</span>
        <span class="lastName" th:text="${lastName}">LastName</span>,
    </p>
    <p>Thank you for registering with us. Please verify your email address by clicking the link below:</p>
    <a th:href="@{${verificationUrl}}" class="button" target="_blank">Verify Email</a>
    <p>This link will expire in <span th:text="${expiration}">Expiration</span></p>
    <p>If you did not register, please ignore this email.</p>
    <p>Best regards,</p>
    <p>UnravelDocs Team</p>
</div>

</body>
</html>